apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: mongodb
  namespace: subbu-1-ns
spec:
  serviceName: mongodb
  replicas: 1

  selector:
    matchLabels:
      app: mongodb

  template:
    metadata:
      labels:
        app: mongodb
    spec:
      containers:
      - name: mongodb
        image: mongo:7.0

        ports:
        - containerPort: 27017

        env:
        - name: MONGO_INITDB_DATABASE
          value: "shopping_cart"

        resources:
          requests:
            cpu: 250m
            memory: 512Mi
          limits:
            cpu: 500m
            memory: 1Gi

        volumeMounts:
        - name: mongo-storage
          mountPath: /data/db

        readinessProbe:
          tcpSocket:
            port: 27017
          initialDelaySeconds: 5
          periodSeconds: 10

        livenessProbe:
          tcpSocket:
            port: 27017
          initialDelaySeconds: 30
          periodSeconds: 10

  # volumeClaimTemplates:
  # - metadata:
  #     name: mongo-storage
  #   spec:
  #     accessModes: ["ReadWriteOnce"]
  #     resources:
  #       requests:
  #         storage: 5Gi
